.partners__title {
    margin: 60px 0;
}
.partners {

margin: 60px 0;
}

.partners-org {
    border-top: solid 1px #73caf3;

}

.partners__container {
    display: flex;
    align-items: center;
}

.partners__category {
    width: 20%;
    white-space: nowrap;
    font-weight: bold;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    justify-content: space-around;
}
.partners__item {    
    margin-left: 20px;
}

.partners__item:nth-child(3n+1) {
    
    margin-left: 0px;
}


.partners__link {
    text-decoration: none;
    display: flex;
    width: 270px;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex: 1;    
    transition: 0.5s;
    filter: grayscale(20%);

}
.partners__link:hover {    
    filter: grayscale(0%);
    transform: scale(1.1);
}

.partners__img {
    display: block;
    width: auto;
    height: 100%;    
    object-fit:contain;
}