

.socials__desc {
    margin-bottom: 10px;
    font-size: 20px;
}
.socials__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.socials__item {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(https://ostconf.com/i/blocks/social/twitter.svg);
    background-color: rgba(0,0,0,0.25);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 5px;
}

.socials__item:hover {
    background-color: rgba(0,0,0,0.7);
}
.socials__link {
    width: 100%;
    height: 100%;
    display: block;
}

.social__item-vk {
    background-image: url(https://ostconf.com/i/blocks/social/vk.svg);
}
.social__item-fb {
    background-image: url(https://ostconf.com/i/blocks/social/facebook.svg);
}
.social__item-yb {
    background-image: url(https://ostconf.com/i/blocks/social/youtube.svg);
}
.social__item-tg {
    background-image: url(https://ostconf.com/i/blocks/social/telegram.svg);
}

.social_tag {
    font-size: 20px;
}