/* спикеры */


.speakers {
    margin-top: 30px;
}

.section-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
}

.pk__title {

    color: $spekerColor;
}

.speaker__img {
    height: 214px;
    width: 214px;
}

.pk__img {
    height: 170px;
    width: 170px;
}
.speaker__avatar {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.speaker {
    display: flex;
    flex-wrap: wrap;
}

.speaker__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 20%;

    &:hover {
        .speaker__img {
            transform: scale(1.05);
            transition: 0.5s;
        }

    }

}

.pk__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 20%;
}

.speaker__link {
    align-items: center;
    display: flex;
    flex-direction: column;
}


.speaker__item--wide {
    width: 25%;
}

.speaker__item:nth-child(7n+1) {

    margin-left: 0px;
}
.pk__item:nth-child(7n+1) {

    margin-left: 0px;
}


.speaker__img {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;



}


.speaker__title {
    text-align: center;
}

.speaker__name {
    font-weight: 600;
    font-size: 18px;
    margin: 6px;
}

.speaker__company {
    font-weight: bold;
    color: #1D3B57;
    margin-top: 5px;
}