
$themecolor:#356894; //цвет темы
$button-clolor: rgba(26, 52, 74, 0.75); //Кнопка стандарт
$button_hover:rgba(26, 52, 74, 1); //Кнопка ховер
$button_buy:#FFDE3E; //Кнопка купить
$active-price: #73caf3;; //декорация позунка

$tableprice:rgba(115, 202, 243, 1); //цвет рамки билетов
$tableprice_bg:rgba(115, 202, 243, 0); // цвет прозрачности
$tableprice_bg-hover:#fcf5f9; //цвет фона рамки при наведении

.section--bg--blue {
    //background-color: #262b5f;
    background-color: $themecolor;
    color: white;
}
.section--bg--blue a {
    color: white;
}
